body > .container {
    margin-top: 60px;
}
table.tickets {
    width: 800px;
}

.tickets .id {
    width: 50px;
}

.tickets .status {
    width: 80px;
}

h1 {
    margin-bottom: 10px;
}

.activities {
    background-color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
}

.activity {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 2px;
}

.activity:first-child {
    border-top-width: 0px;
}

.info {
    color: gray;
    margin-left: 10px;
}

.message {
    margin-top: 10px;
    margin-left: 15px;
    line-height: 1.0;
    margin-bottom: 0px;
}

