@(form : Form[org.codefirst.katze.core.Ticket], ticket : org.codefirst.katze.core.Ticket, commits : Iterable[org.codefirst.katze.core.scm.Commit])

@import helper.twitterBootstrap._

@main("Edit Ticket"){
  <h1>Edit: @ticket.id.value</h1>
  @helper.form(action = routes.Application.editTicket(ticket.id.value)) {
    @helper.inputText(form("subject"))

    @helper.select(form("status"), helper.options( List("open", "close")))

    <div class="form-actions">
      <input type="submit" value="Update" class="btn btn-primary"/>
    </div>
  }

  <h2>Related commits</h2>
  @commits.map { commit =>
    <div>
      <h2>@commit.author</h2>
      <div>ID: @commit.id</div>
      <div>@commit.message</div>
    </div>
  }
}

